<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Welcome to myapp testing code</h1>
  <h2>
    This is home page for 
	<%= link_to "Profilemyrun",  action: 'index' %>
    application.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("foot.png", alt: "Profilemyrun logo", size: "200x200"),
            'http://www.profilemyrunpromo.com/' %>



