<footer class="footer">
  <small>
	Copyright © 
	<%= link_to "www.profilemyrun.com", index_path %>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.profilemyrunpromo.com/running-science/">News</a></li>
      <li><a href="http://www.profilemyrunpromo.com/">About</a></li>
      <li><a href="http://www.profilemyrunpromo.com/theteam/">Contact</a></li>
    </ul>
  </nav>
</footer>
