  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "ProfileMyRun", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to_unless_current "Home",  action: 'index' %></li>
            <li><%= link_to_unless_current "Help",  action: 'help' %></li>
            <li><%= link_to_unless_current "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
  </header>
